.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

p {
    font-size: 100%;
}

#screensaver { 
  position: absolute; 
  width: 100%; 
  height:100%; 
  left:0px; 
  top: 0px; 
  display: none; 
  z-index:9999;
  overflow:auto;
}